.social-metrics {
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fffefe;
  margin-top: 20px;
  margin-bottom: 40px;
}

.social-metrics h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.chart-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  color: #4f4f4f; /* Ensured consistent color */
}

.engagement-metrics-section:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Senca okoli kartice ob prehodu */
  transform: translateY(-5px); /* Rahla animacija za dvig kartice */
  cursor: pointer;
}

.engagement-metrics-section,
.distribution-section {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: calc(100% - 60px); /* Adjust for margins */
  margin: 30px auto; /* Center align and adjust margin */
  padding: 20px; /* Added padding inside sections */
  border-radius: 8px;
  justify-content: center;
}

.distribution-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.chart-box {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 250px; /* Ensure a minimum width for smaller screens */
  align-items: center;
  box-sizing: border-box; /* Include padding in width calculations */
}

.chart-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Senca okoli kartice ob prehodu */
  transform: translateY(-5px); /* Rahla animacija za dvig kartice */
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .social-metrics {
    padding: 10px;
  }

  .engagement-metrics-section,
  .distribution-section {
    margin: 15px auto;
    width: calc(100% - 30px);
  }

  .distribution-section {
    flex-direction: column;
  }

  .distribution-section .chart-box {
    margin-bottom: 20px;
  }

  .distribution-section .chart-box:last-child {
    margin-bottom: 0;
  }
}

.recharts-legend-wrapper {
  margin-top: 10px; /* Add some space above the legend */
  text-align: center; /* Center the legend text */
}

.recharts-legend-item {
  margin-right: 20px; /* Space between legend items */
}

.recharts-tooltip-wrapper {
  font-size: 14px; /* Adjust tooltip font size for readability */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly opaque background for tooltips */
  border-radius: 4px; /* Rounded corners for tooltips */
}

/* Responsive adjustments for pie chart text placement */
@media (max-width: 480px) {
  .distribution-section .chart-box {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .distribution-section .chart-box > div {
    width: 100%; /* Ensure that text occupies full width under the chart */
    text-align: center; /* Center text under the chart */
  }
}
